build
out
.gradle
.idea/libraries
.idea/modules
.idea/markdown-navigator
.idea/runConfigurations
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/kotlinc.xml
.idea/markdown-navigator.xml
.idea/uiDesigner.xml
